<!DOCTYPE html>

<html lang="en">

 <div class="col-md-7 col-md-offset-3">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">    
      <li> <a href="http://localhost:5000">Início</a></li>              
      <li> <a href="http://localhost:5000/teste/verifica1">Módulo I</a></li>
      <li> <a href="http://localhost:5000/teste/verifica2">Módulo II</a></li>
      <li> <a href="http://localhost:5000/teste/verifica3">Módulo III</a></li>
      <li> <a href="http://localhost:5000/teste/verifica4">Módulo IV</a></li>
      <li> <a href="http://localhost:5000/progresso">Progresso</a></li>
    </ul> 
  </nav>
</div>

  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">        
        <h2 class="text-muted col-md-10 col-md-offset-2">  Resultados </h2>
        <h3 class="col-md-10 col-md-offset-2">  Módulo I :  </h3>
        <h4 class="col-md-10 col-md-offset-2"> Respondidas: {{respondidas1}}/{{total1}} = {{pct11}}% </h4>
        <h4 class="col-md-10 col-md-offset-2"> Acertos: {{certas1}}/{{respondidas1}} = {{pct12}}%</h4>
        <h3 class="col-md-10 col-md-offset-2">  Módulo II :  </h3>
        <h4 class="col-md-10 col-md-offset-2"> Respondidas: {{respondidas2}}/{{total2}} = {{pct21}}% </h4>
        <h4 class="col-md-10 col-md-offset-2"> Acertos: {{certas2}}/{{respondidas2}} = {{pct22}}%</h4>
        <h3 class="col-md-10 col-md-offset-2">  Módulo III :  </h3>
        <h4 class="col-md-10 col-md-offset-2"> Respondidas: {{respondidas3}}/{{total3}} = {{pct31}}% </h4>
        <h4 class="col-md-10 col-md-offset-2"> Acertos: {{certas3}}/{{respondidas3}} = {{pct32}}%</h4>
        <h3 class="col-md-10 col-md-offset-2">  Módulo IV :  </h3>
        <h4 class="col-md-10 col-md-offset-2"> Respondidas: {{respondidas4}}/{{total4}} = {{pct41}}% </h4>
        <h4 class="col-md-10 col-md-offset-2"> Acertos: {{certas4}}/{{respondidas4}} = {{pct42}}%</h4>
        <h3 class="col-md-10 col-md-offset-2">  Módulo V :  </h3>
        <h4 class="col-md-10 col-md-offset-2"> Respondidas: {{respondidas5}}/{{total5}} = {{pct51}}% </h4>
        <h4 class="col-md-10 col-md-offset-2"> Acertos: {{certas5}}/{{respondidas5}} = {{pct52}}%</h4>
      </div>
      <hr/>   
      
    </div>
  </body>
</html>
